<!DOCTYPE html>
<html>
    <head>
        <title>Todo App - {{ title }}</title>
    </head>
    <style>
        .button {
          background-color: #087fb6;
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          margin: 4px 2px;
          cursor: pointer;
        }
    </style>
</head>
    <body style="background-color: rgb(208, 253, 199);">
        <h1>Todo App - {{ title }}</h1>
        <p>
            <a href="{{ url_for('home') }}">
                <button class="button">Home</button>
            </a>
            <a href="{{ url_for('create_task') }}">
                <button class="button">Add Task</button>
            </a>
        </p>
        {% block body %}
        {% endblock body %}
    </body>
</html>
